/* Estrellas clicables (formulario de opinión) */
.star-rating i {
  cursor: pointer;
  font-size: 1.6rem;
  color: #adb5bd; /* gris por defecto */
  margin-right: 3px;
  transition: color 0.2s ease-in-out;
}

/* Hover: colorea estrella y anteriores */
.star-rating i:hover,
.star-rating i.selected,
.star-rating i:hover ~ i {
  color: #ffc107; /* dorado */
}
 
.avatar-circle {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1.5rem;
}

/* Para el Home */
.opinion-bubble {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem; 
}

.bubble-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.default-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-size: 45px;
  color: #777;
}

.opinion-bubble i {
  margin-right: 4px;
}


