/* Contenedor de la imagen principal */
.imagen-principal-container {
  max-width: 100%;         /* se adapta al ancho del contenedor */
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 10px;
}

/* Imagen principal */
.imagen-principal {
  width: 100%;             /* ocupa todo el ancho del contenedor */
  height: auto;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.imagen-principal:hover {
  transform: scale(1.03);
}


