<div class="container-fluid vh-100 d-flex p-0">

  <!-- Imagen izquierda (solo md+) -->
  <div class="d-none d-md-block col-md-6 login-left"></div>

  <!-- Imagen derecha (solo md+) -->
  <div class="d-none d-md-block col-md-6 login-right"></div> 

  <!-- Formlario centrado-->
  <div class="position-absolute top-50 start-50
           translate-middle col-12 col-md-4">
    <div class="card shadow-sm rounded-4 p-4 p-md-5">
      <h2 class="text-center mb-4 text-dark-emphasis bold">
        Hola de nuevo. <br>
        Inicia sesión y empieza a explorar.
      </h2>

      <form (ngSubmit)="login()">

        <!-- Correo -->
        <div class="mb-3">
          <input
            type="email"
            class="form-control rounded-2"
            [(ngModel)]="correo"
            name="correo"
            placeholder="Dirección de correo electrónico*"
            required/>
          <p *ngIf="errorCorreo" class="text-danger small mt-1">{{ errorCorreo }}</p>
        </div>
 
        <!-- Contraseña -->
        <div class="mb-3 position-relative">
          <input
            [type]="verContrasena ? 'text' : 'password'"
            class="form-control rounded-2"
            [(ngModel)]="contrasena"
            name="contrasena"
            placeholder="Contraseña*"
            required/>
          <p *ngIf="errorContrasena" class="text-danger small mt-1">{{ errorContrasena }}</p>
         <i class="bi"
    [ngClass]="verContrasena ? 'bi-eye-slash' : 'bi-eye'"
    (click)="verContrasena = !verContrasena"
    class="toggle-password"></i>
        </div>

        <!-- Errores generales -->
      <p *ngIf="error" class="text-danger small mt-2">{{ error }}</p>

        <!-- Botón -->
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-login btn-lg px-5 rounded-pill">
            Iniciar sesión
          </button>
        </div>
        </form>

      <!-- Registro -->
      <div class="text-center mt-3">
        <span>¿No tienes cuenta? </span>
        <a class="register-link" routerLink="/registro">Registrate</a>
      </div>
    </div>
  </div>
 
</div>
