/*body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fffbea;
  color: #333;
}*/

h1 {
  font-family: 'Montserrat', sans-serif;
}

/* Ocultar el icono nativo de Edge */
input::-ms-reveal,
input::-ms-clear {
    display: none !important;
}
